/* @ ink_color: rgb(214,244,24); */
div {
	display: inline-block;
}

.empty{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	box-sizing: content-box;

}

.child_half{
	width: 49%;
	height: 300px;
	display: inline-block;
	box-sizing: border-box;
}
.child_half:hover{
	border: 1px solid red;
	
}

.dcont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid grey;
	width: 100%;
	background-color: rgb(230, 253, 224);
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;


}
canvas {
	background: transparent;
/*	border: 1px solid lightgrey;*/
	margin: 0px;
	padding: 0px;

}

* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	border: 0px;
 }

footer, header {
	display: block;
}

h1 {
	align-content: center;
	font-size: 14pt;
}

p{
	/*font-family: 'Manrope-VariableFont_wght'  , sans-serif;
	*/
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	color: darkblue;
}